@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100%;
}

/* Header */

header {
    position: fixed;
    background: url("https://look.com.ua/pic/201908/1920x1080/look.com.ua-352038.jpg");
    background-size: cover;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 7777;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: rgba(23, 96, 164, 1);
    z-index: -1;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12.5px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
}

/* Burger Menu */
  
.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    position: absolute;
    left: 30px;
}
  
.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#checkbox {
    display: none;
    opacity: 0;
}
  
#bar2 {
    transition-duration: .8s;
}
  
#bar1,#bar3 {
    width: 70%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

#checkbox:checked~#checkbox>span {
    transform: rotate(45deg);
}

#checkbox:checked~#checkbox>span::before {
    top: 0;
    transform: rotate(0);
}

#checkbox:checked~#checkbox>span::after {
    top: 0;
    transform: rotate(90deg);
}

#checkbox:checked~.menubox {
    visibility: visible;
    left: 0;
}

.title h1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 40px;
	color: #fcfffc;
	margin-bottom: 30px;
}

.menubox {
    flex-direction: column;
    top: 80px;
    left: -346px;
    padding: 25vh 3%;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	position: fixed;
	transition: 0.4s ease;
}

.menubox:hover{
	transition: 0.7s ease;
}

.menu-item {
    transition-duration: .25s;
    border-left: 2px solid #76d4ff;
	transition: 0.2s ease;
	padding-left: 6px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	color: #fcfffc;
    margin: 10px 0;
}

.menu-item:hover {
    border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 12px;
}

/* Sections */

.sections {
    border: 4px solid transparent;
    background-color: rgba(28, 28, 28, 0);
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s ease;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: 77px;
}

.sections:hover {
    border-bottom: 4px solid #41ea3b;
}

.sections:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #38b434;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.sections:hover:after {
    transform: scaleX(1);
}

.sections:hover>span {
    transform: translateY(-4px);
}

.sections span {
    transition: transform 0.3s ease;
    display: inline-block;
}

.main-logo {
    margin-top: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    cursor: pointer;
}

img {
    width: 100%;
}

/* Main */
/* Slider */

main {
    height: 2000px;
    background-color: #daecfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 7;
    align-self: flex-start;
}

.middle {
    top: 330px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
}

input[name="point"] {
    position: absolute;
    visibility: hidden;
}

#company-name {
    width: max-content;
    position: absolute;
    color: white;
    font-size: 80px;
    font-family: 'Yellowtail', cursive;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    user-select: none;
}

.slide {
    width: 35%;
    transition: all .6s ease;
}

.navigation-points {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

#point-1:checked~.s1 {
    margin-left: 0;
}

#point-2:checked~.s1 {
    margin-left: -35%;
}

#point-3:checked~.s1 {
    margin-left: -70%;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 10px;
    transition: all .4 ease;
} 

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* Discoveries*/

.discoveries-container {
    margin-top: 550px;
    justify-content: center;
}

.discoveries-helper{
    background-color: #daecfd;
    position: relative;
    width: 15px;
    z-index: 3;
    top: 40px; 
    height: 30px;
    right: 15px;
}

.text-with-lines-Discoveries {
    position: relative;
    text-align: center;
}
  
.text-with-lines-Discoveries p {
    position: relative;
    display: inline-block;
    padding: 0 56px;
    font-size: 24px;
}
  
.text-with-lines-Discoveries p::before,
.text-with-lines-Discoveries p::after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(200%); 
    height: 1px;
    background-color: black;
}
  
.text-with-lines-Discoveries p::before {
    right: 100%;
    margin-right: 20px;
}
  
.text-with-lines-Discoveries p::after {
    left: 100%;
    margin-left: 20px;
}

.discoveries-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discoveries-row .cardBox {
    margin: 10px 10px;
}

/* Discoveries Cards */

.scroll-target {
    position: relative;
    top: -65px; 
    visibility: hidden;
} 

.cardBox {
    width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.photo-container{
    text-align: center;
}
  
.info-card-piva,
.info-card2,
.info-card3,
.info-card4 {
    width: 95%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    padding: 20px;
    transition: filter 0.3s ease-in-out;
    background-position: center;
    background-size: cover;
    margin-top: 6%;
}

.info-card-piva {
    background-image: url("https://st4.depositphotos.com/14883968/21323/i/600/depositphotos_213239274-stock-photo-landscape-beautiful-piva-lake-mountains.jpg");
}
  
.info-card2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Machu_Picchu%2C_Peru.jpg/1200px-Machu_Picchu%2C_Peru.jpg");
}
  
.info-card3 {
    background-image: url("https://st.depositphotos.com/1000633/57261/i/600/depositphotos_572618664-stock-photo-panoramic-view-lake-moraine-banff.jpg");
}

.info-card4 {
    background-image: url("https://st.depositphotos.com/1035350/1831/i/600/depositphotos_18311415-stock-photo-ginkaku-ji-temple-in-kyoto.jpg");
}
  
.cardBox:hover .info-card-piva,
.cardBox:hover .info-card2,
.cardBox:hover .info-card3,
.cardBox:hover .info-card4 {
    filter: brightness(0.8); 
}
  
.info-card-piva .h4,
.info-card2 .h4,
.info-card3 .h4,
.info-card4 .h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
.info-card-piva .card-content .h3,
.info-card2 .card-content .h3,
.info-card3 .card-content .h3,
.info-card4 .card-content .h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}
  
.info-card-piva .card-content p,
.info-card2 .card-content p,
.info-card3 .card-content p,
.info-card4 .card-content p {
    font-size: 14px;
    line-height: 1.4em;
}
  
.info-card-piva .card-content,
.info-card2 .card-content,
.info-card3 .card-content,
.info-card4 .card-content {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 20px;
}
  
.info-card-piva:hover .card-content,
.info-card2:hover .card-content,
.info-card3:hover .card-content,
.info-card4:hover .card-content {
    transform: translateY(0);
    opacity: 1;
}
  
.info-card-piva:hover .h4,
.info-card2:hover .h4,
.info-card3:hover .h4,
.info-card4:hover .h4 {
    opacity: 0;
}

/* Culture */

.text-with-lines-Culture {
    position: relative;
    text-align: center;
}
  
.text-with-lines-Culture p {
    position: relative;
    display: inline-block;
    padding: 0 80px;
    font-size: 24px;
}
  
.text-with-lines-Culture p::before,
.text-with-lines-Culture p::after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(200%); 
    height: 1px;
    background-color: black;
}
  
.text-with-lines-Culture p::before {
    right: 100%;
    margin-right: 20px;
}
  
.text-with-lines-Culture p::after {
    left: 100%;
    margin-left: 20px;
}

.culture-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.culture-row .card-img1 {
    margin: 20px;
}

/* Culture Cards */

.card-img1 {
    width: 190px;
    height: 274px;
    background: white;
    padding: .4em;
    border-radius: 6px;
}
  
.card-image {
    background-image: url("https://st4.depositphotos.com/14883968/21323/i/600/depositphotos_213239274-stock-photo-landscape-beautiful-piva-lake-mountains.jpg");
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
    background-size: cover;
    cursor: pointer;
}
  
.card-image:hover {
    transform: scale(0.98);
}
  
.category-img1 {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}
  
.category-img1:hover, .category-img2:hover {
    cursor: pointer;
}
  
.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}

/* Adventures */

.text-with-lines-Adventures {
    position: relative;
    text-align: center;
    margin-top: -1.5%;
}
  
.text-with-lines-Adventures p {
    position: relative;
    display: inline-block;
    padding: 0 58px;
    font-size: 24px;
}
  
.text-with-lines-Adventures p::before,
.text-with-lines-Adventures p::after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(200%); 
    height: 0.5px;
    background-color: black;
}
  
.text-with-lines-Adventures p::before {
    right: 100%;
    margin-right: 20px;
}
  
.text-with-lines-Adventures p::after {
    left: 100%;
    margin-left: 20px;
}

/* YouTube video */

.video {
    text-align: center;
    margin-top: 1%;
}

/* See More Info Button */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
   
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
   
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
   
.cta:hover:before {
    width: 100%;
    background: #77d079;
}
   
.cta:hover svg {
    transform: translateX(0);
}
   
.cta:active {
    transform: scale(0.95);
}

/* Footer */

footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #0062ff;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
}

.footer-distributed .footer-center .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}    

.error-message {
	text-align: center;
	color: rgb(255, 0, 0);
  	font-size: 14px;
  	font-weight: bold;
}  

.my-project-icon {
    display: block;
    font-size: 1.5rem;
    color: #0055ff;
    margin-bottom: 1rem;
    text-decoration: none;
}
  
.my-project-button {
    cursor: pointer;
    font-size: 15px;
    margin-top: 100px;
}
  
.my-project-button:hover .button-icon {
    transform: translateX(0.25rem);
}
  
.my-project-description {
    margin-bottom: 1rem;
}

.button-link {
    padding: 0;
    background-color: transparent;
    color: #1f69ff;
}

.button-link:hover {
    background-color: transparent;
    color: #285fcd;
}