*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

@media (min-width: 1280px) {
    body {
      padding: 5%; 
    }
  }

html {
    font-family: "General Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-size: 100%;
}

main {
    padding: 11%; 
}

/* Header */

header {
    position: fixed;
    background: url("https://look.com.ua/pic/201908/1920x1080/look.com.ua-352038.jpg");
    background-size: cover;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 7777;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: rgba(23, 96, 164, 1);
    z-index: -1;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12.5px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
}

/* Navigation, Burger Menu */
  
.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    position: absolute;
    left: 30px;
}
  
.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#checkbox {
    opacity: 0;
    display: none;
}

#checkbox:checked~#checkbox>span {
    transform: rotate(45deg);
}

#checkbox:checked~#checkbox>span::before {
    top: 0;
    transform: rotate(0);
}

#checkbox:checked~#checkbox>span::after {
    top: 0;
    transform: rotate(90deg);
}

#checkbox:checked~.menubox {
    visibility: visible;
    left: 0;
}
  
#bar2 {
    transition-duration: .8s;
}
  
#bar1,#bar3 {
    width: 70%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.title h1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 40px;
	color: #fcfffc;
	margin-bottom: 30px;
}

.menubox {
    flex-direction: column;
    top: 80px;
    left: -346px;
    padding: 25vh 3%;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	position: fixed;
	transition: 0.4s ease;
}

.menubox:hover{
	transition: 0.7s ease;
}

.menu-item {
    transition-duration: .25s;
    border-left: 2px solid #76d4ff;
	transition: 0.2s ease;
	padding-left: 6px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	color: #fcfffc;
    margin: 10px 0;
}

.menu-item:hover {
    border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 12px;
}

/* Sections */

.sections {
    border: 4px solid transparent;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s ease;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: 77px;
}

.sections:hover {
    border-bottom: 4px solid #41ea3b;
}

.sections:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #38b434;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.sections:hover:after {
    transform: scaleX(1);
}

.sections:hover>span {
    transform: translateY(-4px);
}

.sections span {
    transition: transform 0.3s ease;
    display: inline-block;
}

.main-logo {
    margin-top: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    cursor: pointer;
}

img {
    width: 100%;
}

/* Search Icon, Button */

.logo-name {
    margin-top: -6%;
    position: absolute;
    width: 100px;
    
    left: 13%;
    text-decoration: none;
    color:blue;
}

.SearchContainer {
    height: 40px;
    top: 16%;
    color: inherit;
    position: absolute;
    margin-top: -1.2%;
    right: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    border: 1px solid #ccc;
}
  
.input {
    width: 170px;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}
  
.labelforsearch {
    cursor: text;
    padding: 0px 12px;
}
  
.searchIcon {
    width: 13px;
    fill: rgb(114, 114, 114);
}

/* Rows of Cards */

.first-row {
    display: flex;
}

.second-row {
    margin-top: 20px;
    display: flex;
}

.third-row {
    margin-top: 20px;
    display: flex;
}

/* Cards */

.container {
    position: relative;
    width: 400px;
    height: 240px;
    cursor: pointer;
    outline: none; 
    box-shadow: 0 0 8px rgb(0, 106, 255);
    margin-right: 20px;
    overflow: hidden;
}

.text {
    padding: 6%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(75, 75, 75, 0.7);
    height: 100%;
    width: 100%;
}

.caption h2 {
    font-size: 17px;
    margin: 2%;
    margin-top: 37%;
}
  
.caption p {
    font-size: 13px;
}

.image-zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
  
.image-zoom img {
    transition: transform 0.4s ease;
}
  
.image-zoom:hover img {
    transform: scale(1.1); 
}