* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: rgba(17, 17, 17, .7);
}

html::-webkit-scrollbar-thumb {
    background: #29d9d5;
}

body {
    padding: 10%;
    background: #111;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2%;
}

.navbar {
    flex-grow: 1;
    text-align: center;
    position: absolute;
    left: 47.5%;
    top: 50%;
    transform: translateY(-50%);
}

.navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.navbar a:hover {
    color: #29d9d5;
}

ul li {
    display: flex;
    align-items: center;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
}
  
.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#checkbox {
    display: none;
    opacity: 0;
}
  
#bar2 {
    transition-duration: .3s;
}
  
#bar1,#bar3 {
    width: 70%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .3s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .3s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .3s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .3s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .3s;
    transform: rotate(180deg);
}

#checkbox:checked~#checkbox>span {
    transform: rotate(45deg);
}

#checkbox:checked~#checkbox>span::before {
    top: 0;
    transform: rotate(0);
}

#checkbox:checked~#checkbox>span::after {
    top: 0;
    transform: rotate(90deg);
}

#checkbox:checked~.menubox {
    visibility: visible;
    left: 0;
}

.title h1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 40px;
	color: #fcfffc;
	margin-bottom: 30px;
}

.menubox {
    flex-direction: column;
    top: 70px;
    left: -100%;
    padding: 25vh 3%;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	position: fixed;
	transition: 0.3s ease;
    align-items: flex-start;
    margin: 0;
    text-align: left;
}

.menubox:hover{
	transition: 0.7s ease;
}

.menu-item {
    transition-duration: .25s;
    border-left: 2px solid #76d4ff;
	transition: 0.2s ease;
	padding-left: 6px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	color: #fcfffc;
    margin: 10px 0;
}

.menu-item:hover {
  border-left: 2px solid #f5b7c7;
  transition: 0.2s ease;
  padding-left: 12px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}
  
.img-logo {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Search Icon, Button */

.logo-text .logo-left {
    margin-top: -4%;
    padding: 2%;
    justify-content: flex-start;
}

.logo-text h3 {
    color: #ffffff;
    font: normal 3vw 'Cookie', cursive; 
    justify-content: flex-start;
    font-size: 4rem;
}

.logo-text h3 span {
    color: #0062ff;
}

.SearchContainer {
    height: 40px;
    color: inherit;
    position: absolute;
    right: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 1vw; 
    border: 1px solid #ccc;
    background-color: #fff;
    justify-content: flex-end;
    margin-top: -7.3rem;
}

.input {
    width: 17vw; 
    border: none;
    outline: none;
    font-size: 0.9vw; 
    caret-color: rgb(255, 81, 0);
}

.labelforsearch {
    cursor: text;
    padding: 0px 1.2vw; 
}

.searchIcon {
    width: 1.3vw; 
    fill: rgb(114, 114, 114);
}

/* Rows of Cards */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Cards */

.container {
    cursor: pointer;
    outline: none; 
    box-shadow: 0 0 8px #29d9d5;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container:hover {
    box-shadow: 0 0 8px #F5B7C7;
}

.text {
    padding: 6%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(75, 75, 75, 0.7);
    height: 100%;
    width: 100%;
    white-space: normal;
}

.caption h2 {
    font-size: 17px;
    margin: 2%;
    margin-top: 37%;
}
  
.caption p {
    font-size: 13px;
}

.image-container {
    width: 350px; 
    height: 233px; 
    margin-top: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.image-zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
  
.image-zoom img {
    transition: transform 0.4s ease;
    width: 100%;
    height: auto;
    object-fit: contain;
}
  
.image-zoom:hover img {
    transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 12px;
        padding: 3%;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        white-space: normal;
    }
}