* {
	margin-top: 0;
	padding: 0;
    font-family: Arial, sans-serif;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	padding: 100px 15%;
	background: #333;
	color: #efefef;
	display: flex;
    height: 400px;
}

.footer div {
	text-align: center;
}

.col-2 {
	flex-grow: 2;
}

.footer div h3 {
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.col-1 a {
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
}

.SocialMedia a{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
    color: #fff; 
}

.input {
	width: 350px;
	height: 45px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 1em;
	background-color: #ccc;
	transition: 300ms ease-in-out;
}
  
.input:focus {
	background-color: white;
}

form button {
	color: white;
	cursor: pointer;
	transform: translate(1) translate(0, 0);
	transition: transform 225ms, box-shadow 225ms;
	background: transparent;
	border: 2px solid #fff;
	font-size: 15px;
	cursor: pointer;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 2%;
}
  
form button:active {
	transform: scale(1) translate(0, 0.15rem);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.error-message {
	text-align: center;
	color: rgb(255, 0, 0);
  	font-size: 14px;
  	font-weight: bold;
} 